<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" href="/">FlaskCafe</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="{{ url_for('cafes.cafe_list') }}">Cafes</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if not g.user %}
        <a href="/signup" class="btn-sm btn btn-outline-light">Sign Up</a>
        <a href="/login" class="btn-sm btn btn-outline-light">Log In</a>
        {% endif %}

        {% if g.user %}
        <a href="{{ url_for('users.show_profile') }}" class="nav-link">{{g.user.get_full_name()}}</a>
        {% endif %}
      </li>
    </ul>

    {% if g.user %}
    <form class="form-inline my-2 my-lg-0" method="POST" action="/logout">
      <button class="btn-sm btn btn-outline-light">Log Out</button>
    </form>
    {% endif %}

  </div>
</nav>